<!-- Usos simples -->
<h2>Ejemplos de usos simples de expresiones</h2>
<div>
  <ul>
    <!-- Computar una suma-->
    <li>{{ 5 + 5 }}</li>

    <!-- Concatenar varibales-->
    <li>{{ fruta + ' ' + verdura }}</li>

    <!-- Mostrar propiedades de un objeto -->
    <li>
      la ciudad de {{ ciudad.nombre }} tiene {{ ciudad.poblacion }} habitantes y
      pertenece a la provincia de {{ ciudad.provincia }}
    </li>

    <!-- Formatear salidas  -->
    <li>{{ pi | number: '1.1-2' }}</li>

    <!-- Acceder metódos -->
    <li>La Fruta tiene: {{ fruta.length }} letras</li>

    <!-- Llamar a funciones del controlador -->
    <li>{{ helloWorld() }}</li>
  </ul>
</div>

<h2>Ejemplos de usos de directivas</h2>
<div>
  <ul>
    <h3>uso de ngIf: mostrar y ocultar texto</h3>
    <p *ngIf="variable1">si var1 es verdadero entonces se muestra el texto</p>
    <p *ngIf="variable2">si var2 es verdadero se muestra el texto</p>

    <!-- Usar iteracion para mostrar una lista -->
    <h3>uso de ngFor: Frutas en el canasto</h3>
    <div *ngFor="let frutas of canasto">
      <li>
        <p>Hay {{ frutas }}</p>
      </li>
    </div>

    <h3>uso de ngSwitch:comparar y mostrar</h3>
    <!--directivas que cooperan entre si para generar un resultado-->
    <li><div [ngSwitch]="estado">
      <p *ngSwitchCase="1">El estado es 1</p>
      <p *ngSwitchCase="2">El estado es 2</p>
      <p *ngSwitchDefault>No es ningún estado conocido</p>
    </div></li>
  </ul>
</div>
